{% extends "locaroot/base.html" %}
{% load static %}
{% block title %}ログイン{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <div class="main">
    <div class="canvas">
      <div class="content">
        <h3>ログイン</h3>
        <form action="" method="POST">
            {% csrf_token %}
              {{ form.non_field_errors }}
            {% for field in form %}
                <br>
                {{ field }}
                <br>
                {{ field.error }}
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-outline-primary">ログイン</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}